# Core
python-dotenv
pandas
requests

# File Parsing
PyPDF2
openpyxl
xlrd

# LangChain + Vector DB
langchain
langchain-community
langchain-text-splitters
langchain-openai
faiss-cpu
tiktoken

# Azure OpenAI Support
openai

# FastAPI
fastapi
uvicorn
python-multipart
